@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.answered {
    border: 2px solid #19b394; /* Viền màu xanh */
    background-color: #e6fff5; /* Nền màu xanh nhạt */
  }
  
  .unanswered {
    border: none;
    background-color: transparent; /* Không màu */
  }
  @media (max-width: 768px) {
    .navigation-bar {
      width: 100px;
      padding: 10px;
    }
  
    .navigation-bar h4 {
      display: none; /* Ẩn tiêu đề */
    }
  
    .navigation-bar button {
      font-size: 12px;
      padding: 8px;
    }
  
    .progress-bar {
      height: 8px; /* Giảm chiều cao */
    }
  }
